body{
    background: #e8e8e8;
}

.form-area{
    padding-left: 7%;
}

.row.single-form{
    box-shadow: 0 2px 20px -5px rgba(0, 0, 0, 0.5);
}

.left{
    background: #649785;
    padding: 200px 98px;
}

.left h2{
    font-family: poppins;
    color: #e8e8e8;
    font-weight: 700;
    font-size: 48px;
}

.left h2 span{
    font-weight: 100;
}

.right{
    padding: 70px 100px;
    position: relative;
}

.right i {
    position: absolute;
    font-size: 80px;
    left: -27px;
    top: 40%;
    color: antiquewhite;
}

.form-control{
    border: 2px solid #0000;
}

.right button{
    border: none;
    border-radius: 0;
    background: #252525;
    width: 180px;
    color: #ffff;
    padding: 15px 0;
    display: inline-block;
    font-size: 16px;
    margin-top: 20px;
}