body{
    height: 100vh;
}

.d-item{
    height: 83.5vh;
}

.d-img{
    height: 100%;
    object-fit: cover;
    filter: brightness(0.7);
}

footer {
    background-color: #80c4ac;
}
.payment-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.payment-data-section{
    display: flex;
    flex-direction: row;
}

.payment-data-title{
    display: flex;
    align-items: center;
    color: #eaf7ef;
}


/***** Section *****/  /***** End Section *****/
